@model Security.Web.Models.Admin.PaginationViewModel
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination pagination-sm">
            <li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)" asp-route-search="@Model.Search">«</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-search="@Model.Search">@i</a>
                </li>
            }
            <li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)" asp-route-search="@Model.Search">»</a>
            </li>
        </ul>
    </nav>
}
